node_modules/
dist/
dist-ssr/
*.local

.vite/
.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

bin/
obj/
out/

[Dd]ebug/
[Rr]elease/
publish/
*.user
*.suo

project.lock.json
.dotnet/

# please no secrets on the repo :)
.env
.env.local
.env.*.local
appsettings.Development.json
*.pfx

.vs/
.vscode/
.idea/
*.swp

# i am looking at you lucas
.DS_STORE
Thumbs.db
desktop.ini
